fieldset, legend
{
    border: 1px solid !important;
    border-radius: 28px 0px 28px 0px  !important;
    padding: 15px !important;
    font-family: inherit !important;
    font-size: 30px !important;
    color: inherit !important;
    font-style: inherit !important;
    
}

fieldset
{
    margin: 40px !important;
}
h1
{
    text-align: center !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    font-size: 50px !important;
    margin-top: 54px !important;
    text-shadow: 0 0 80px red  !important;
}
#flex :hover
{ 
    text-shadow: 20 20 50px red !important;

}
body
{
    
   
    display: block !important;
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 20px !important;
    color:white !important;
    font-style:normal !important;
}       
form td
{
    font-size: 20px !important;
    
}  
#flex :hover
{
    box-shadow: 1px 2px 50px red !important;

}
table
{
    width: 100% !important;
} 
#flex 
{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    margin-bottom: 300px !important;
}         
.button
{
    margin: 50px !important;
    padding: 10px !important;
    width: 207px !important;
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 25px !important;
    border-radius: 0px 20px 20px 20px !important;
    background-color: black !important;
    
}