{% load static %}
<html>

    <head>
        <title> Online Form</title>
        <link rel="stylesheet"  href='{% static "css/style.css" %}' />
    </head>

    <body>
        <h1> Online Job Application Form </h1>
        <style> 
            legend
            {
                background-image: url('{% static "images/board-chalk-business-job.jpg" %}');
            }
            body
            {
                background: url('{% static "images/black_bg.jpg" %}');
                background-attachment: fixed;
                color: aliceblue;
            }

        </style>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend id="legend"> Personal Information </legend>
                <table>
                    <tr>
                        <td> <label for="First">First name </label></td>
                        <td> <input type="text" name="First"></td>
                        <td> <label for="Middle">Middle Name </label> </td>
                        <td> <input type="text" name="Middle"></td>
                    </tr>
                    <tr>
                        <td> <label for="Father">Father's Name</label> </td>
                        <td> <input type="text" name="Father"></td>
                        <td> <label for="Mother">Mother Name's</label> </td>
                        <td> <input type="text" name="Mother"> </td>
                    </tr>
                    <tr>
                        <td><label for="Current"></label>Current Address</td>
                        <td> <textarea name="Current"></textarea> </td>
                        <td><label for="Permanent">Permanent</label> </td>
                        <td><textarea name="Permanent"> </textarea></td>
                    </tr>
                    <tr>
                        <td> <label for="Phone">Phone Number</label> </td>
                        <td><input type="tel" name="Phone"></td>
                        <td> <label for="Landline">Landline </label></td>
                        <td> <input type="" name="Landline"></td>
                    </tr>
                    <tr>
                        <td> <label for="DOB">Date of Birth </label></td>
                        <td> <input type="date" name="DOB"/> </td>
                        <td> <label for="POB">Place of Birth</label></td>
                        <td> <input type="date" name="POB" /></td>
                    </tr>
                    <tr>
                        <td> <label for="Gender">Select Gender</label> </td>
                        <td> <input type="radio" name="Gender">Male <input type="radio" name="Gender">Female </td>
                    </tr>
                    <tr>
                        <td> <label for="Qualification ">Highest Qualification </label></td>
                        <td><input type="text" name="Qualification "></td>
                        <td> <label for="YOP">Year of Passedout </label></td>
                        <td> <input type="month" name="YOP"></td>
                    </tr>
                    <tr>
                        <td> Select your language </td>
                        <td>
                            <select name="SUL"> 
                                <label for="SUL">select your language</label>
                                <option>English</option>
                                <option>Tamil</option>
                                <option>Telgu</option>
                                <option>Hindi</option>
                                <option>Kannada</option>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="yourself ">About yourself </label></td>
                        <td><textarea rows="2" name="yourself "></textarea> </td>
                        <td> <label for="Nationality"></label>Nationality</td>
                        <td>
                            <select name="Nationality">
                                <option> India </option>
                                <option> USA </option>
                                <option> UK </option>
                                <option> Japan </option>
                                <option> China </option>
                                <option> Canada </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="Aadhar">Aadhar Card Number</label></td>
                        <td><input type="text" name="Aadhar"></td>
                        <td><label for="PAN">PAN Card Number</label></td>
                        <td> <input type="text" name="PAN "></td>
                    </tr>
                </table>
            </fieldset>
            <div id="flex"> 
            
                <input type="submit" class="button" value="Submit"/>
                <input type="reset" class="button" value="Reset"/>


            </div>
        </form>      
    </body>
</html>